mixin recipeCard(recipe = {})
    .recipe
        .recipe__hero
            .recipe__actions
                if user && recipe.author.equals(user._id)
                    .recipe__action.recipe__action--edit
                        a(href=`/recipes/${recipe._id}/edit`)
                            != h.icon('pencil')
            img(src=`/uploads/${recipe.photo || 'recipe.png'}`)
            h2.title
                a(href=`/recipe/${recipe.slug}`) #{recipe.title}
        .recipe__details
            p= recipe.description.split(' ').slice(0, 25).join(' ')
