mixin recipeForm(recipe = {})
  form(
    action=`/add/${recipe._id || ''}`
    method="POST" class="card" enctype="multipart/form-data"
  )
    label(for="title") Title
    input(
        type="text"
        name="title"
        id="title"
        value=recipe.title
    )
    label(for="description") Description
    textarea(
        name="description"
        id="description"
    )= recipe.description
    - const steps = recipe.steps || [''];
    label(for="steps") Steps
      ol.steps
        each step in steps
          li.step
            input(
            type="text"
            value=`${step}`
            name="steps"
            )
      button.button.step__action#add-step Add
      button.button.step__action#remove-step Remove

    label(for="photo") Photo
    input(
        type="file"
        name="photo"
        id="photo"
        accept="image/gif, image/png, image/jpeg"
    )
    if recipe.photo
        img(
            src=`/uploads/${recipe.title}`, alt=recipe.title
            width=200
        )
    - const choices = ['Carne', 'Pescado', 'Postre']
    - const tags = recipe.tags || [];
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(
            type="checkbox"
            id=choice
            value=choice
            name="tags"
            checked=(tags.includes(choice))
          )
          label(for=choice) #{choice}
    input(type="submit" value="Save →" class="button")
